sudo: required
language: R
latex: false
cache: packages

r_binary_packages:
  - devtools
  - testthat
  - roxygen2

matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
      env: COMPILER=g++-4.9
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.7
          packages:
            - clang-3.7
      env: COMPILER=clang++-3.7

before_install:
  - cd r-package/grf
  - sudo apt-get update -qq
  - sudo apt-get install -y libopencv-dev valgrind

script:
  - cd ../../core/
  - mkdir build && cd build
  - cmake -DCMAKE_CXX_COMPILER=$COMPILER .. && make
  - cd .. && valgrind --leak-check=full --error-exitcode=1 ./build/grf exclude:[characterization]
  - cd ../r-package
  - Rscript build_package.R
