# The following pipeline tests grf in the following ways:
# 1. Core C++ compiled with GCC and test with valgrind on latest Ubuntu.
# 2. Core C++ compiled with Clang and test with valgrind on latest Ubuntu.
# 3. Core C++ compiled with MSVC (release build with all optimizations).
# 4. Latest R release on Ubuntu(+ small valgrind check)/MacOS.
# The R setup here is based on https://eddelbuettel.github.io/r-ci/
trigger:
- master

jobs:
- job: coreCPP
  pool:
    vmImage: "ubuntu-latest"
  strategy:
    matrix:
      clang:
        CXX: clang++
      gcc:
        CXX: g++
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq valgrind
    displayName: Setup
  - script: |
      mkdir build && cd build
      cmake -DCMAKE_CXX_COMPILER=$CXX .. && make debug
    workingDirectory: core
    displayName: Build
  - script: valgrind --leak-check=full --error-exitcode=1 ./build/grf
    workingDirectory: core
    displayName: Valgrind check

- job: coreCPP_MSVC
  pool:
    vmImage: "windows-latest"
  steps:
  - script: |
      mkdir build && cd build
      cmake -DCMAKE_CXX_COMPILER=CL.exe -DCMAKE_CXX_FLAGS="/W0" ..
    workingDirectory: core
    displayName: CMake
  - task: VSBuild@1
    inputs:
      solution: 'core\build\*.sln'
      configuration: 'release'
    displayName: Build
  - script: build\Release\grf.exe
    workingDirectory: core
    displayName: Check

- job: R_package
  strategy:
    matrix:
      ubuntu:
        imageName: "ubuntu-latest"
      macos:
        imageName: "macOS-latest"
  pool:
    vmImage: $(imageName)
  variables:
  - name: R_LIBS_USER
    value: '$(Agent.BuildDirectory)/R/library'
  - name: CRAN
    value: 'https://cloud.r-project.org'
  - name: _R_CHECK_FORCE_SUGGESTS_
    value: false
  - name: USE_BSPM
    value: true
  - name: WARNINGS_ARE_ERRORS
    value: true
  steps:
  - script: |
      sudo apt-get update -qq
      sudo apt-get install -qq valgrind
    displayName: Setup valgrind
    condition: eq(variables['Agent.OS'], 'Linux')
  - script: |
      curl -OLs https://eddelbuettel.github.io/r-ci/run.sh && chmod 0755 run.sh
      BOOTSTRAP_MACOS_OPENMP=FALSE ./run.sh bootstrap
      ./run.sh install_all
    workingDirectory: r-package/grf
    displayName: Setup R
  - script: ./run.sh run_tests
    workingDirectory: r-package/grf
    displayName: Test R package
  - script: ./run.sh dump_logs_by_extension "fail"
    condition: failed()
    workingDirectory: r-package/grf
    displayName: Print R failures
  - script: |
      # Use R check's installation instead of reinstalling the package.
      sudo sed -i.old '1s;^;.libPaths(c(file.path(getwd(), "grf.Rcheck"), .libPaths()));' tests/valgrind/test_grf_valgrind.R
      R -d "valgrind --tool=memcheck --leak-check=full --error-exitcode=1" --vanilla < tests/valgrind/test_grf_valgrind.R
    workingDirectory: r-package/grf
    displayName: Valgrind check
    condition: eq(variables['Agent.OS'], 'Linux')
