# OS X files
*.DS_Store

# emacs files
*~

# R session files
.Rproj.user
.Rhistory
.RData

# compiled object files
*.slo
*.lo
*.o
*.obj

# package artifacts
*.tar.gz

# clion files
.idea/

# copied C++ files
gradient.forest/src/*
gradient.forest/src/!RcppExports.cpp