useDynLib(grf)
importFrom("stats", "lm", "predict", "runif", "var")
import(Rcpp)

S3method(predict,causal_forest)
S3method(predict,custom_forest)
S3method(predict,instrumental_forest)
S3method(predict,quantile_forest)
S3method(predict,regression_forest)
S3method(print,grf)
S3method(print,grf_tree)

export(causal_forest)
export(custom_forest)
export(estimate_average_effect)
export(get_tree)
export(instrumental_forest)
export(quantile_forest)
export(regression_forest)
export(split_frequencies)
